@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--main-bg);
    color: var(--softblue);
    font-family: 'Outfit', sans-serif;
}

/* Card */
.card {
    background-color: var(--card-bg);
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    margin: 15% auto;
}

/* Image */
.imageContainer {
    position: relative;
}

#image {
    display: block;
    width: 100%;
    border-radius: 10px;
}

#overlay {
    background-color: hsla(178, 100%, 50%, 0.562);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    transition: 0.5s ease;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}

#view {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#overlay:hover {
    cursor: pointer;
    opacity: 1;
}

/* Description */
.descriptionContent p {
    font-size: 18px;
}

/* Infos */
.infoContent ul {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.infoContent ul li {
    display: flex;
}
.infoContent ul li span {
    margin-left: 5px;
}
.infoContent ul li:nth-child(1) {
    color: var(--cyan);
}

/* Line */ 
hr {
    border-color: var(--softblue);
}

/* Author */
.authorContent {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.authorContent img {
    width: 30px;
    margin-right: 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.authorContent p {
    margin: 0;
}

/* Links */
a {
    color: var(--white);
    transition: 0.5s ease;
    text-decoration: none;
}

a:hover {
    color: var(--cyan);
}
